.banners {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/704/601/250/nature-scenery-images-hd-1920x1080-wallpaper-preview.jpg);
    background-size: cover;
    color: black;
    padding: 120px 0;
    align-items: center;
}
/* Fonts and colors */
body {
    color: #494949;
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;

    margin: 0;
  }
  h1, h2 {

    font-weight: bold;
  }
  h2 {
    color: #A0A0A0;
    font-weight: normal;
  }
  a {
    text-decoration: none;
    color: #4352A1;
  }
  
  /* Custom design */
  .banners {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/704/601/250/nature-scenery-images-hd-1920x1080-wallpaper-preview.jpg");
    background-size: cover;
    color: #ECF0F1;
    padding: 100px 0;
  }
  .banners h1 {
    font-size: 50px;
  }
  .banners p {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
  }
  .containers {
    width: 500px;
    margin: 50px auto;
  }
  .link-medium {
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
  }
  .link-medium:hover {
    background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
  }
