// Specific CSS for your home-page
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.backgroud-flowers{
  background-image: url("Yellow-flowers-raindrops.jpg");
  //opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.title-color{
  color: rgb(241, 239, 236);
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
