// Import page-specific CSS files here.
@import "home";
@import "about";
@import "footer";
@import "service";
@import "login";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import "blogpost";

html, body{
  font-family: 'Open Sans', sans-serif;
  //background-color: #F9C784;
  height: 100%;
  
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.background-sites{
  background-color: #F9C784;
}
