/* style-Service */
.container-s{
  background-color: #f2f3e8da;
  padding: 15px;
  margin-top: 40px;

}
.card-s{
  border-radius: 10px;
  margin: 50px;
  padding: 15px;
  text-align: center;
  background-color: rgb(238, 224, 224);
}
.row-s{
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

// .btn-s{
//   border-radius: 10px;
//   background-color: #3986c59d;

// }