<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medium</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div class="banners">
        <div class="containers">
          <h1>Sobre Río Arriba</h1>
        </div>
      </div>
      <div class="containers">
        <p>
        Fundada durante el año 2021, Río Arriba busca posicionarse como una de las productoras audiovisuales más jóvenes y prometedoras del sur de Chile, construyendo relaciones a largo plazo con nuestros clientes. Es este enfoque personalizado lo que nos ha permitido aprender, crecer y desarrollarnos con altos estándares de calidad y ética, siempre buscando lo mejor para nuestros clientes y comunidades. 
        </p>
  
        <p>
        Trabajamos en conjunto con una red de colaboradores interdisciplinaria que desarrolla contenidos y proyectos en varios formatos audiovisuales, entregando las herramientas necesarias para que un público transversal pueda contar sus historias.
        </p>
  
        <p>
        Somos una productora, pero también comunidad. Buscamos informar, educar e inspirar a la mayor cantidad de personas posible. Es por eso que aquí encontrarás distintas entradas de blog y fotografías generadas por nuestro equipo y por una red de colaboradores que sigue en expansión por los distintos territorios del sur de Chile. 
        </p>
      </div>
</body>
</html>