<html>
<head>
  <meta charset="UTF-8">
  <title>Contacto empresarial !</title>  
  </head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
<body>  
  
  <div class="contact_form">
    <div class="formulario de Contacto"> <center>
    
     <p> <h1>Formulario de Contacto Río Arriba </h1> </p>
         <p></p>
          <h3>Escríbenos y en Breve nos pondremos en contacto contigo...</h3><br> <br><br> <br><br> <br>


          <p></p>

          <p> <b> Nombre respresentante oficial: Patricio Del Río </p> </b>
            <p></p>
          <p> Email: Rio_Arriba@.vivenvias.com</p>
            <p></p>
          <p> Teléfono de Contacto: 600.600.7000</p>
             <p></p>
          <p> Sitio Web: Servivio/Audiovisual/Rioarriba.com</p>
            <p></p>
                           
        
            
          </form>
    </div>  
  </div>

</body>
</html>
