.button{
  background-color: #f8f4f29a; /* Green */
  color: rgb(31, 29, 29);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.button:hover {
   background-color: #24c99f5e;
   color: rgb(233, 233, 233);
}


.button:active {
  background-color: #25c29b83; /* Green */
  box-shadow: 0 5px #00000060;
  transform: translateY(4px);
}